@config "../../tailwind.config.js";
@plugin "@tailwindcss/typography";
@import "tailwindcss";
@import "./design-tokens.css";

@layer base {
  html {
    color-scheme: light;
  }

  body {
    @apply font-body;
  }

  a {
    @apply text-accent hover:underline;
  }
}
